﻿@using CMCore.Model
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@{
    Servidor _servidor = Model == null ? new Servidor() : Model;//ViewData["Servidor"] != null? ViewData["Servidor"] as Servidor: new Servidor();
    JObject _dados = Session["user"] != null? Session["user"] as JObject: null;
    //Convertendo os dados de um servidor que veio por meio de Json para o formato nativo do objeto.
    Servidor _user = null;
    if (_dados != null && Convert.ToInt32(_dados.GetValue("cod")) < 500)
    {
        _user = JsonConvert.DeserializeObject<Servidor>(_dados.GetValue("Servidor").ToString());
    }
}
<script type="text/javascript" language="javascript">
    var maskBehavior = function(val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
        },
        options = {onKeyPress: function(val, e, field, options) {
            field.mask(maskBehavior.apply({}, arguments), options);
        }}; 
    $('.phone').mask(maskBehavior, options);     
</script>
@using (Html.BeginForm("SaveServidor", "Gerente", FormMethod.Post))
{
    <form role="form">
        <div class="row">
            <div class="form-group col-lg-6 col-md-6 col-sm-6">
                <label>
                    @if (_servidor.Id != 0)
                    {
                        <b>Id :</b>
                        @Html.Label("labId", _servidor.Id.ToString());
                        <b> - </b>
                    }
                    Nome do servidor
                </label>
                @Html.TextBox("Id", _servidor.Id.ToString(), new { style = "display:none" });
                @Html.TextBox("Nome", _servidor.Nome, new {@class = "form-control", placeholder = "Entre com o nome do servidor", required = true})
            </div>
            <div class="form-group col-lg-3 col-md-3 col-sm-3">
                <label>Matricula</label>
                @Html.TextBox("Matricula", _servidor.Matricula, new { @class = "form-control", placeholder = "Entre com a matricula", required = true })
            </div>
            <div class="form-group col-lg-3 col-md-3 col-sm-3">
                <label>Tipo de Servidor</label>
                @Html.DropDownList("ListaTipos", (SelectList)ViewData["ListaTipos"], new { @class = "form-control", placeholder = "Entre o tipo de servidor", required = true })     
                
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6 col-md-6 col-sm-6">
                <label>E-mail</label>
                @Html.TextBox("Email", _servidor.Email, new { @class = "form-control", placeholder = "Entre com o E-mail", required = true, type = "email" })
            </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-6">
                <label>Celular</label>
                @Html.TextBox("Celular", _servidor.Celular, new { @class = "form-control phone", placeholder = "Número do celular", required = true, type = "tel" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-4 col-md-4 col-sm-4">
                <label>Login</label>
                @Html.TextBox("Login", _servidor.Login, new { @class = "form-control", placeholder = "Login", required = true })
            </div>
            @if (_user != null && (_user.Id == _servidor.Id || _servidor.Id == 0))
            {
                <div class="form-group col-lg-4 col-md-4 col-sm-4">
                    <label>Senha</label>
                    @Html.TextBox("Senha", _servidor.Senha, new { @class = "form-control", placeholder = "Digite a senha", required = true, type = "Password" })
                </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-4">
                        <label>Confirma senha</label>
                        @Html.TextBox("Confirma", "", new { @class = "form-control", placeholder = "Digite a senha novamente", required = true, type = "Password" })
                    </div>
            }
        </div>
        <input id="btSalvar" class="btn btn-social-icon " type="submit" value="Salvar" >
        
    </form>
    
}