﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_master.cshtml";
}
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=Avvl1JvIKCnYvYdiVowEOqEr8BZPAYaEyGgmmTiAghPZijMj3Q6EUdg_c_Z0FkW3'  defer></script>

@section scripts{


    <script type="text/javascript" language="javascript">
        var posicoes = @ViewBag.posicoes;
        var position;

        //Função retorna as coordenadas pega pelo navegador
        function getCordinates() {
            navigator.geolocation.getCurrentPosition(showPosition, positionError);

            function showPosition(posicao) {

                position = posicao;
            }

            function positionError(position) {
                alert("Ooops! Error: " + position.code);
            }
        }

        var map;

        function GetMap() {
            getCordinates();
            Microsoft.Maps.loadModule("Microsoft.Maps.SpatialMath",
                function() {
                    map = new Microsoft.Maps.Map('#myMap',
                        {
                            center: new Microsoft.Maps.Location(position.coords.latitude, position.coords.longitude),
                            mapTypeId: Microsoft.Maps.MapTypeId.grayscale,
                            zoom: 14
                        });

                    for (var i = 0; i < posicoes.length; i++) {
                        var icone;
                        switch (posicoes[i].icon) {
                        case 1:
                            icone = "../Img/poste.png";
                            break;
                        case 2:
                            icone = "../Img/Transito.png";
                            break;
                        default:
                        }
                        var loc = new Microsoft.Maps.Location(posicoes[i].latitude, posicoes[i].longitude);
                        //Create an accuracy circle
                        //console.log(position.coords.accuracy);
                        var path = Microsoft.Maps.SpatialMath.getRegularPolygon(loc,
                            70,
                            40,
                            Microsoft.Maps.SpatialMath.title);
                        //Gera um poligono 
                        var poly = new Microsoft.Maps.Polygon(path,
                            {
                                fillColor: (posicoes[i].fora === 1)?'rgba(244,0,0, 0.5)':'rgba(244,255,50, 0.5)',
                                strokeColor: (posicoes[i].fora === 1)?'rgba(244,0,0, 0.5)':'rgba(244,255,50, 0.5)',
                                strokeThickness: 2
                            });


                        map.entities.push(poly);

                        //Add a pushpin at the user's location.
                        var pin = new Microsoft.Maps.Pushpin(loc, { icon: icone });
                        map.entities.push(pin);

                    }
                });
        }

        
    </script>
}
<div class="container" style="width: auto">
    <div  id="myMap" style="position: relative; width: auto; height: 500px;">

    </div>
</div>
