﻿@using CMCore.Model

@{
    ViewBag.Title = "Cadastro de Servidores";
    Layout = "~/Views/_master.cshtml";
     Servidor _servidor = Model == null ? new Servidor():Model;
     Servidor _user = Session["user"]!= null? Session["user"] as Servidor:null;
}
@section scripts {
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <script type="text/javascript" language="javascript">
        
        function novoServidor(el) {
            @{
                _servidor = new Servidor();
            }
            document.getElementById(el).style.display = 'block';
            var url = "/gerente/dadosservidor";
            $.get(url,
                null,
                function(data) {
                    $('#devDados').html(data);
                
                });
        }
    
        function salvarServidor(el) {
            document.getElementById(el).submit();
        }
    </script>
}

<div class="container " style="width: auto">
    <br/>
    <div class="text-center row">
        <div class="col-md-3 col-lg-3 col-sm-3">
            <div class="form-group input-group">
                @Html.TextBox("Busca", "", new {id = "txtBusca", @class = "form-control", placeholder = "Busca pelo nome", type = "Text"})
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>

        </div>
        <div class="col-md-9 col-lg-9 col-sm-9" style="font-size: 24px" align="left">
            <a class="btn btn-social-icon " onclick="novoServidor('devDados')"><i class="fa fa-plus" ></i> Novo</a>
            @if (_servidor != null && _servidor.Id != 0)
            {
                if (_servidor.Bloqueado)
                {
                    <a class="btn btn-social-icon "><i class="fa fa-check-circle-o "></i> Desbloquear</a>
                }
                else
                {
                    <a class="btn btn-social-icon "><i class="fa fa-ban "></i> Bloquear</a>
                }
            }
            <a class="btn btn-social-icon " onclick="salvarServidor()"><i class="fa fa-save "></i> Salvar</a>
        </div>
    </div>
    <div id="devDados" style="display: @(_servidor != null && _servidor.Id > 0 ?"block":"none")">
        @{
            Html.RenderPartial("dadosServidor", _servidor);
        }
    </div>
</div>


