﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_master.cshtml";
}
<div class="container">
    <div align="center">
        <h2>Bem vindo!</h2><br />
        <b>Este é o sistema de gerenciamento do Cites Manager (CM)</b><br />
        <b>Para ter acesso a todas as funcionalidades clique no icone <i class="fa fa-user fa-fw"></i> em seguida em <a href="@Url.Action("Login","Home")">Login</a> para ter acesso ao sistema.</b><br />
        <b>Caso seja seu primeiro acesso, peça ao adminitrador para adiciona-lo ao sistema.</b>
    </div>
</div>
