﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/_master.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Faça seu login</h3>
                </div>
                <div class="panel-body">
                    @using(Html.BeginForm("Logar", "Gerente")){
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                @Html.TextBox("Login", "", new {@class="form-control", placeholder="Login", type ="text", autofocus = true, id="Login"})
                            </div>
                            <div class="form-group">
                                @Html.TextBox("senha", "", new {@class="form-control", placeholder="Senha", type ="password",  id="senha"})
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <input type="submit" class="btn btn-lg btn-success btn-block" value="Login"/>
                        </fieldset>
                    </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


