﻿
@{
    ViewBag.Title = "Abrir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4  style="text-align: center">Selecione o tipo de protocolo</h4>
<div class="container" align="center">
    <div class="row" align="center">
        <div class="col s6 m6 l2  " align="center">
            <a href="SelecaoProtocolo/1"><img src="~/Img/poste.png" class="btn-floating" style="background: lightblue" onclick=""/></a>
            <h6>Iluminação </h6>
        </div>
        <div class="col s6 m6 l2"  align="center">
            <a href="SelecaoProtocolo/2"><img src="~/Img/Saneamento.png" class="btn-floating" style="background:lightblue" /></a>
            <h6>Saneamento</h6>
        </div>
        <div class="col s6 m6 l2"  align="center">
            <a href="SelecaoProtocolo/3"><img src="~/Img/Saude.png" class="btn-floating" style="background:lightblue" /></a>
            <h6>Saúde</h6>
        </div>
        <div class="col s6 m6 l2" align="center">
            <a href="SelecaoProtocolo/4"><img src="~/Img/Transito.png" class="btn-floating" style="background: lightblue" /></a>
            <h6>Trânsito</h6>
        </div>
        <div class="col s6 m6 l2" align="center">
            <a href="SelecaoProtocolo/5"><img src="~/Img/Educao.png" class="btn-floating" style="background:lightblue" /></a>
            <h6>Educação</h6>
        </div>
        <div class="col s6 m6 l2" align="center">
            <a href="SelecaoProtocolo/6"><img src="~/Img/Mais.png" class="btn-floating" style="background:lightblue" /></a>
            <h6>Outros</h6>
        </div>
    </div>
</div>
