﻿
@using Microsoft.Web.Helpers
@{
    Session["latitude"] = 0;
    Session["longitude"] = 0;
}
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/jquery.mask.js"></script>
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=Avvl1JvIKCnYvYdiVowEOqEr8BZPAYaEyGgmmTiAghPZijMj3Q6EUdg_c_Z0FkW3' async defer></script>
<script language="javascript" type="text/javascript">
    $(function()
    {
        navigator.geolocation.getCurrentPosition(showPosition, positionError);
        
        function showPosition(position) {
            var coordinates = position.coords;
            $("#latitude").val(coordinates.latitude);
            $("#longitude").val(coordinates.longitude);
        }

        function positionError(position) {
            alert("Ooops! Error: " + position.code);
        }
    });
    var maskBehavior = function(val) {
         return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
    },
        options = {onKeyPress: function(val, e, field, options) {
             field.mask(maskBehavior.apply({}, arguments), options);
        }}; 
    $('.phone').mask(maskBehavior, options);     
    
    function atualizaMap() {
        
        var url = "/home/ViewMap/";
        alert(url);
        $.get(url,
            null,
            function(data) {
                $('#myMap').html(data);
            });
       

    }

</script>
<script type='text/javascript'>
    var map;
    function GetMap() {
        map = new Microsoft.Maps.Map('#myMap', {});

        //Load the spatial math module
        Microsoft.Maps.loadModule("Microsoft.Maps.SpatialMath", function () {
            //Request the user's location
            navigator.geolocation.getCurrentPosition(function (position) {
                var loc = new Microsoft.Maps.Location(position.coords.latitude, position.coords.longitude);

                //Create an accuracy circle
                var path = Microsoft.Maps.SpatialMath.getRegularPolygon(loc, position.coords.accuracy, 36,  Microsoft.Maps.SpatialMath.Meters);
                var poly = new Microsoft.Maps.Polygon(path);
                map.entities.push(poly);

                //Add a pushpin at the user's location.
                var pin = new Microsoft.Maps.Pushpin(loc);
                map.entities.push(pin);

                //Center the map on the user's location.
                map.setView({ center: loc, zoom: 17 });
            });
        });
    }
    function checkForm() {
       
            document.getElementById("btEnviar").submit();
       
    }
</script>

<div id="divCampos" class="col s12">
    <div class="row">
        <div class="col s12 l12">

            <!--input id="latitude" type="text" style="display: none" name="latitude" value="@Session["latitude"]"/>
            <input id="longitude" type="text" style="display: none" name="longitude" value="@Session["longitude"]"/-->
            @Html.TextBox("latitude", @Session["latitude"], new {style ="display: none", id ="latitude", nane ="latitude"})
            @Html.TextBox("longitude", @Session["longitude"], new {style ="display: none", id = "longitude", nane = "longitude" })
            <div id="myMap" style="position: relative; width: auto; height: 200px;">
            </div>
        </div>
        <div class="input-field col s12 l12">
            <!--input type="text" id="Bairro" class="autocomplete-content"/-->
            @Html.TextBox("bairro",String.Empty, new {Class = "validate autocomplete-content",Id="Bairro", Type= "Text", required=true })
            <label for="autocomplete-input">Bairro *</label>
            <label id="msgBairro" style="color: red; font-size: 12px"/>
           
        </div>

        <div class="input-field col s12 l6">
            <i class="material-icons prefix">phone</i>
            @Html.TextBox("telefone", String.Empty, new {Class= "validate phone", Type="tel", id="telefone", pattern= @"\([0-9]{2}\) [0-9]{4,6}-[0-9]{3,4}$", required= true })
            <label for="icon_telephone">Celular *</label>
            
        </div>  
        <div class="input-field col s12 l6">
            <i class="material-icons prefix">email</i>
            @Html.TextBox("email", String.Empty, new { Class = "validate", Type = "email", pattern = @"[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$", id = "email"})
            <label for="email">Email</label>
        </div>
        <div class="input-field col s12 l12">
            @Html.TextBox("referencia", String.Empty, new { Class = "autocomplete-content", Type = "text", id = "Referencia"})
            <label for="autocomplete-input">Ponto de referência</label>
        </div>
        <div class="input-field col s12">
            <!--textarea id="textarea2" class="materialize-textarea" data-length="200"></textarea-->
            @Html.TextArea("textarea2", string.Empty,new { Class = "materialize-textarea", MaxLengthAttributeAdapter = "200", id = "textarea2", name = "textarea2" })
            <label for="textarea2">Faça uma breve descrição</label> 
        </div>
    </div>

</div>

<input type="submit" class="btn waves-effect waves-light" value="Enviar" onclick="checkForm" id="btEnviar"/>

