﻿
@{
    ViewBag.Title = "Erro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col s12 m7">
    <h2 class="header">Erro 404 - Ops! Algo deu errado. Tente mais tarde.</h2>
    <div class="card horizontal">
        <div class="card-image">
            <img src="~/Img/404.png">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p>@ViewBag.Erro</p>
            </div>
            <div class="card-action">
                <a href=@Url.Action("Index","Home")>Retornar</a>
            </div>
        </div>
    </div>
</div>

