﻿@using Microsoft.Web.Helpers

@{
    ViewBag.Title = "MapAddress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Map Coordinates</h1>
<form method="post">
    <fieldset>
        <div>
            <label for="latitude">Latitude:&nbsp;&nbsp;&nbsp;</label>
            <input id="latitude" type="text" name="latitude" value="@Request["latitude"]"/>
        </div>
        <div>
            <label for="longitude">Longitude:</label>
            <input id="longitude" type="text" name="longitude" value="@Request["longitude"]"/>
        </div>
        <div>
            <input type="submit" value="Map It!" />
        </div>
    </fieldset>
</form>
<script language="javascript" type="text/javascript">
    $(function()
    {
        navigator.geolocation.getCurrentPosition(showPosition, positionError);
        function showPosition(position) {
            var coordinates = position.coords;
            $("#latitude").val(coordinates.latitude);
            $("#longitude").val(coordinates.longitude);
        }

        function positionError(position) {
            alert("Ooops! Error: " + position.code);
        }
    });
</script>
@if(IsPost) {
   
    @Maps.GetBingHtml(key: "Avvl1JvIKCnYvYdiVowEOqEr8BZPAYaEyGgmmTiAghPZijMj3Q6EUdg_c_Z0FkW3",
        latitude: Request["latitude"],
        longitude: Request["longitude"],
        width: "300",
        height: "300"
        )
    
}
