﻿
@{
    ViewBag.Title = "Protocolo não localizado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div align="center">
    <h5><b>Acompanhamento</b></h5>
    <h5>Desculpe, os dados repassados estão incorretos.</h5>
    <h5>Reveja os dados e tente novamente.</h5>
    <a class="btn waves-effect waves-light" href="@Url.Action("Index","Acompanha")">Retornar</a>
</div>
