﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script type="text/javascript" src=@Url.Content("~/Scripts/jquery.mask.js")></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/jquery.mask.js"></script>
    <script language="javascript" type="text/javascript">
        var maskBehavior = function(val){
                return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
            },
            options = {
                onKeyPress: function(val, e, field, options) {
                    field.mask(maskBehavior.apply({}, arguments), options);
                }
            };
  
        $('.phone').mask(maskBehavior, options);

    </script>    
    

}



<div class="row" align="center" style="margin-top: 10px">
    <div class="col s2 m4 l1">
        <img src="~/Img/cidadao.png" class="btn-floating" style="background: lightblue; margin-top: 20px" />
    </div>
    <div class="col s2 m4 l11" align="left" style="margin-top: 0px">
        <h4 id="idTitulo">Acompanhar protocolo</h4>
    </div>
</div>

@using (Html.BeginForm("Etapas","Acompanha"))
{
    <div id="divCampos" class="col s12" align="center" >
        <div class="row" >
            <div class="col s12 l12">
                <h5>Informe os dados abaixo para consultar o protocolo</h5>
            </div>
            <div class="row" style="width: 250px">
                <div class="input-field col s12 l12" >
                    <i class="material-icons prefix" >phone</i>
                    @Html.TextBox("telefone", String.Empty, new { Class = "validate phone", style = "font-size: 24px", Type = "tel", id = "telefone", pattern = @"\([0-9]{2}\) [0-9]{4,6}-[0-9]{3,4}$", required = true })
                    <label  for="telefone" >Celular </label>
                </div>
                <div class="input-field col s12 l12" >
                    <i class="material-icons prefix">vpn_key</i>
                    @Html.TextBox("protocolo", String.Empty, new { Class = "validate protocolo", Type = "number", style = "font-size: 24px", pattern = @"\[0-9]{12}\$", id = "protocolo" })
                    <label  for="protocolo" >Protocolo </label>
                </div>
            </div>
            
        </div>
        <div align="center">
            <input type="submit" class="btn waves-effect waves-light "  value="Consultar"  id="btEnviar" />
        </div>
    </div>
    
   

}

