﻿@{

    ViewBag.Title = "Resposta da avaliação";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    
}
<div align="center">
    <h5>RespostaAvaliacao</h5><br/>
    <b>@ViewBag.resposta</b><br/>
    <a href="@Url.Action("Index","Acompanha")" class="btn waves-effect waves-light ">Outro protocolo</a>
</div>


