﻿@using CMCore.Model
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
<!DOCTYPE html>
<html>
@{
        JObject _dados = Session["user"] != null? Session["user"] as JObject: null;
        //Convertendo os dados de um servidor que veio por meio de Json para o formato nativo do objeto.
        Servidor _user = null;
        List<Protocolo> _protocolos = new List<Protocolo>();
        if (_dados != null && Convert.ToInt32(_dados.GetValue("cod")) < 500)
        {
            _user = JsonConvert.DeserializeObject<Servidor>(_dados.GetValue("Servidor").ToString());
            _protocolos = ViewData["Protocolos"] as List<Protocolo>;
        }
   
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="author" content="">
    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <style>
        header,
        footer {
            position: absolute;
            background-color: gainsboro;
            height: 40px;
            width: 100%;
            box-shadow: 0px 0px 10px black;
            z-index: 1;
        }

        header {
            top: 0px;
        }

        footer {
            bottom: 0px;
        }
    </style>
    <title>@ViewBag.Title CM - Protocolo</title>
</head>
<body>

    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("index", "Home")">CM - Gerente</a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">

                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        @{
                            if (_dados != null)
                            {
                                <b>@_user.Login</b>

                            }
                        }
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    @{
                        if (_user != null)
                        {
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#"><i class="fa fa-user fa-fw"></i> Usuário</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-gear fa-fw"></i> Configurações</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="@Url.Action("Logoff", "Gerente")"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="@Url.Action("Login", "Home")"><i class="fa fa-user fa-fw"></i> Login</a>
                                </li>
                            </ul>
                        }
                    }


                    <!-- /.dropdown-user -->
                </li>
                @{
                    if (_user != null)
                    {
                                         
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:@(_protocolos.Count>0?"red":"blue")">
                                <i class="fa fa-bell fa-fw"></i><b>@_protocolos.Count</b><i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-alerts">
                           @for (int i = 0; i < ((_protocolos.Count <= 10) ? _protocolos.Count : 10); i++){
                                   string endereco = "";
                                   TimeSpan tempo = DateTime.Now - _protocolos[i].Datahora; 
                                   switch (_protocolos[i].Problema.Tipo)
                                   {
                                       case TipoProblema.ILUMINACAO:
                                           endereco ="../Img/poste.png";
                                           break;
                                       default:
                                           endereco = "";
                                           break;
                                   }

                                   if (i == 0)
                                    {
                                       <li>
                                            <a href="#">
                                                <div>
                                                    <img src=@endereco style="height: 20px; width: 20px"/>
                                                     @_protocolos[i].Problema.Descricao
                                                    <span class="pull-right text-muted small">Aberto a @tempo.TotalHours.ToString("F2") hs</span>
                                                    <br/>
                                                </div>
                                            </a>
                                       </li>
                                   }
                                   else
                                   {
                                       <li class="divider"></li>
                                       <li>
                                           <a href="#">
                                               <div>
                                                   <img src=@endereco style="height: 20px; width: 20px"/>
                                                   @_protocolos[i].Problema.Descricao
                                                   <span class="pull-right text-muted small">Aberto a @tempo.TotalHours.ToString("F2") hs</span>
                                                   <br/>
                                               </div>
                                           </a>
                                       </li>       
                                   }
                           }
                                
                                

                                <li class="divider"></li>
                                <li>
                                    <a class="text-center" href="#">
                                        <strong>Visualizar todos</strong>
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- /.dropdown-alerts -->
                        </li>
                    }
                }

            </ul>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        @if (_user != null)
                           {
                            <li>
                                <a href="@Url.Action("Index", "Gerente")"><i class="fa fa-map-marker fa-fw"></i> Mapa</a>
                            </li>
                            //Para o caso de um usuário ser o prefeito ou administrador
                            if (_user.Tipo == TipoServidor.PREFEITO || _user.Tipo == TipoServidor.ADMINISTRADOR)
                             {
                                 <li>
                                     <a href="#"><i class="fa fa-desktop  fa-fw"></i> Cadastro <span class="fa arrow"></span></a>
                                     <ul class="nav nav-second-level">
                                         <li>
                                             <a href="#">Prefeitura</a>
                                         </li>
                                         <li>
                                             <a href="#">Seretaria</a>
                                         </li>
                                         <li>
                                             <a href="@Url.Action("NovoServidor", "Gerente")">Servidor</a>
                                         </li>
                                     </ul>
                                     <!-- /.nav-second-level -->
                                 </li>
                                 <li>
                                     <a href="#"><i class="fa  fa-building-o  fa-fw"></i>Prefeitura<span class="fa arrow"></span></a>
                                     <ul class="nav nav-second-level">
                                         <li>
                                             <a href="#">Dados cadastrais</a>
                                         </li>
                                         <li>
                                             <a href="#">Cadastro de servidores</a>
                                         </li>
                                         <li>
                                             <a href="#">Secretarias</a>
                                         </li>


                                     </ul>
                                     <!-- /.nav-second-level -->
                                 </li>
                            }
                            if (_user.Tipo == TipoServidor.SECRETARIO || _user.Tipo == TipoServidor.ADMINISTRADOR)
                            {
                                <li>
                                    <a href="#"><i class="fa fa-building-o  fa-fw"></i> Secretaria <span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a href="">Dados cadastrais</a>
                                        </li>
                                        <li>
                                            <a href="">Cadastro de servidores</a>
                                        </li>
                                        <li>
                                            <a href="">Vinculação de servidores</a>
                                        </li>
                                        <li>
                                            <a href="">Cadastro de Problemas</a>
                                        </li>
                                    
                                    </ul>

                                    <!-- /.nav-second-level -->
                                </li>
                            }

                           <li>
                                <a href="#">Protocolos<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Atrasados</a>
                                    </li>
                                    <li>
                                        <a href="#">Abertos</a>
                                    </li>
                                    <li>
                                        <a href="#">Todos</a>
                                    </li>
                                    <li>
                                        <a href="#">Avaliação</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@Url.Action("Login", "Home")"><i class="fa fa-user fa-fw"></i> Login</a>
                            </li>
                        }

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

    </div>

@RenderSection("scripts", required: false)
    <div id="page-wrapper">
        @RenderBody()
       
    </div>

<footer class="page-footer">
    <div class="footer-copyright">
        © 2019 Copyright Laerton Marques de Figueiredo
        <a class="grey-text text-lighten-4 right"
           href="https://www.facebook.com/laerton.marquesdefigueiredo">Facebook</a>
    </div>
</footer>
<!-- jQuery -->
<script src="../vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../vendor/metisMenu/metisMenu.js"></script>

<!-- Morris Charts JavaScript>
<script src="../vendor/raphael/raphael.min.js"></script>
<!--script src="../vendor/morrisjs/morris.min.js"></script-->


<!-- Custom Theme JavaScript -->
<script src="../dist/js/sb-admin-2.js"></script>
</body>

</html>
